:root {
    font-size: 100%;
}

html {
    font-size: 100%;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #121212;
}

body>* {
    border-radius: 10px;
    margin: 10px 0;
    color: white;
}

input,
select,
button {
    border-radius: 5px;
    cursor: pointer;
}

select{
    padding: 3px;
}

button{
    border:1px solid #666;
    padding:10px;
    background-color: #444;
    color: white;
}

#refresh{
    padding: 5px 5px 1px 5px;
}

.setting-item{
    margin: 10px 0;
}

#url-display{
    font-weight: 800;
}

#log-container {
    background: #000;
    border: 1px solid #444;
    height: 150px;
    overflow-y: auto;
    padding: 10px;
    font-family: monospace;
    font-size: 12px;
}

.log-entry {
    margin-bottom: 5px;
    border-bottom: 1px solid #222;
    color: white;
}

.timestamp {
    color: #888;
}

.type {
    color: #00ff00;
    font-weight: bold;
}